<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all"/>
    <script src="https://connect-cdn.atl-paas.net/all.js" async="async"></script>
</head>
<body>
<section id="content" class="ac-content">
    <h1>Top Reporters</h1>
    <table>
        <thead>
        <tr>
            <th> Reporter </th>
            <th> Requests Count </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${topReporters.empty}">
            <td colspan="2"> Nothing to show </td>
        </tr>
        <tr th:each="reporter : ${topReporters}">
            <td><span th:text="${reporter.name} + ' - ' + ${reporter.email}"> Reporter </span></td>
            <td><span th:text="${reporter.requestCount}"> Requests Count </span></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>